#latestTraillerDiv {
    width: 649px;
    height: 300px;
    background: #fff;
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
}

#latestTraillerDiv h2 a, #topNewsDiv h2 a {
    text-decoration: none;
    color: #00bfff;
    font-size: 30px;
    margin: 0px;
    margin-left: 10px;

}

#latestTraillerDiv h2 a:hover,  #topNewsDiv h2 a:hover {
    color: #cc6600;
}

#latestTraillerDiv > ul,  #nowShowingDiv > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-top: -15px;

}

 #latestTraillerDiv > ul > li,  #nowShowingDiv > ul > li {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;

}

 #latestTraillerDiv > ul > li > a,  #nowShowingDiv > ul > li > a {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 144px;
    height: 200px;
    margin-right: 10px;

}

 #latestTraillerDiv > ul > li > a > img,  #nowShowingDiv > ul > li > a > img {

    margin: 0px;
    padding: 0px;
    width: 144px;
    height: 200px;

}

#latestTraillerDiv > ul > li > img {
    top: 70px;
    margin-left: 35px;
    position: absolute;
    visibility: visible;
}