#nowShowingDiv {
    width: 649px;
    height: 300px;
    background: #28343b;
    margin: 0px;
    padding: 0px;
    margin-top: -20px;
}

#nowShowingHeading {
    margin: 0px;
    padding: 0px;
    margin: 20px 0px 10px 20px;
    padding-top: 10px;
    -webkit-animation: moving 5s infinite;
    animation: moving 5s infinite;
}

#nowShowing {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

@-webkit-keyframes moving {
    from {
        -webkit-transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(300px);
    }
}

@keyframes moving {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}

#nowShowing:hover {
    color: #cc6600;;
}

#browseMoreTraillers, #browseMoreBoxOfficeResults {
    margin: 0px;
    padding: 0px;
    position: absolute;
    animation: none;
    margin-top: 210px;
    margin-left: 20px;
}

#browseMoreTraillers > a, #browseMoreBoxOfficeResults > a {
    color: #000;
    font-size: small;
    text-decoration: none;
}

#browseMoreBoxOfficeResults > a {
    color: #fff;
}

#nowShowingDiv > ul > li > div {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 144px;
    height: 90px;
    background: #000;
    opacity: 0.5;
    margin-top: -90px;
    visibility: hidden;

}

#nowShowingDiv > ul > li:hover > div {
    visibility: visible;
    -webkit-transition:height, 2s linear;
    -moz-transition: height, 2s linear;
    -ms-transition: height, 2s linear;
    -o-transition: height, 2s linear;
    transition: height, 2s linear;

}



#nowShowingDiv > ul {
    margin-top: 10px;
}

#nowShowingDiv > ul > li > div > p {
    color: #00bfff;
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}


