#topNewsDiv {
    width: 648px;
    height: 370px;
    background: #fff;
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
}

#newsList {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
    width: 300px;
    height: 50px;
    padding-top: 10px;
    margin-left: 100px;
}

#newsList > li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: left;

}

#newsList li a {
    display: inline-block;
    padding: 0px 10px;
    text-decoration: none;
    color: #337ab7;
    font-weight: bolder;
}

#newsList li a .pressed {
    color: #111111;
}

#topNewsDiv > h3 {
    margin: 0px;
    padding: 0px;
    color: crimson;
    text-align: justify;
    padding: 5px 20px 10px 20px;
}

#topNewsDiv > p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    animation: none;
    padding: 10px 20px 10px 20px;
    text-align: justify;
}

#browseTopNews > a {
    margin: 0px;
    padding: 0px;
    color: #4c9cb2;
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
}









