
#topRankedDiv {
    width: auto;
    height: 600px;
    background: #4c9cb2;
}

#topRankedImage {
    width: 1008px;
    height: 350px;
    margin: 0px;
    padding: 0px;
}

#topRankedImageBlurDiv {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background: #b5bdc8;
    margin-top: -355px;
    width: 500px;
    height: 350px;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.3;
    margin-left: 25px;
}

#topRankedImageInfoDiv {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 500px;
    height: 350px;
    margin-top: -355px;
    background: transparent;
}

#movieTitleDiv {
    width: 350px;
    height: auto;
    margin: 0px;
    padding: 0px;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;

}

#movieTitleDiv h2 {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
    font-family: serif;
    margin-top: 10px;
}

#movieGenre {
    margin: 0px;
    padding: 0px;
    color: cornflowerblue;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bolder;

}

#movieDoc {
    margin: 0px;
    padding: 0px;
    color: #fff;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align: justify;
}

#movieRateDiv {
    float: right;
    background: transparent;
    margin-top: -60px;
    margin-right: 10px;
    width: 120px;
    height: 50px;
    padding: 5px;
}

#rate {
    float: right;
    color: #fff;
    margin: 0px;
    margin-right: 30px;
    font-size: 30px;
    margin-top: 5px;
    color: #cc6600;
}

article > div > p {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    -webkit-animation: moving 5s infinite;
    animation: moving 5s infinite;
}

@-webkit-keyframes moving {
    from {
        -webkit-transform: translateX(0px);
    }
    to {
        -webkit-transform: translateX(300px);
    }
}

@keyframes moving {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
    }
}

article > div > p > a {
    text-decoration: none;
    color: #fff;
}

article > div > p > a:hover{
    color: #cc6600;
}

#topRankedMovieListDiv {
    position: relative;
    width: auto;
    height: 250px;
    background: #28343b;
    margin: 0px;
    padding: 0px;
    margin-top: -5px;

}

#topRankedMovieListDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 27px;

}

#topRankedMovieListDiv ul li {
    margin: 0px;
    padding: 0px;
    float: left;
}

#topRankedMovieListDiv ul li a {
    display: block;
    width: 150px;
    height: 200px;
    background: transparent;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;

}

#topRankedMovieListDiv > ul > li > a > img {
    width: 150px;
    height: 200px;
    margin: 0px;
    padding: 0px;
}



#topRankedMovieListDiv > p {

    color: #cc6600;
    margin: 0px;
    padding: 0px;
    margin-top: 200px;
    margin-left: 30px;

}

#topRankedMovieListDiv p a {
    text-decoration: none;
    color: #fff;
}

#topRankedMovieListDiv > p > a:hover, #browseMoreTraillers > a:hover, #openingThisWeekMovieList p a:hover, #comingSoonMovieList p a:hover, #browseMoreBoxOfficeResults > a:hover, #browseTopNews > a:hover {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% {
        color: #2ca02c;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-moz-keyframes color-change {
    0% {
        color: #2ca02c;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-ms-keyframes color-change {
    0% {
        color: #2ca02c;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@-o-keyframes color-change {
    0% {
        color: #2ca02c;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

@keyframes color-change {
    0% {
        color: #2ca02c;
    }
    50% {
        color: blue;
    }
    100% {
        color: red;
    }
}

#topRankedMovieListDiv ul div {
    margin: 0px;
    padding: 0px;
    position: absolute;

}

#topRankedMovieListDiv ul li div {
    width: 150px;
    height: 50px;
    background: #f0f0f0;
    opacity: 0.5;
    visibility: hidden;
    margin-top: -50px;
}

#topRankedMovieListDiv ul li:hover div {
    visibility: visible;
}
