#content {
    background: #ffffff;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

#content>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Ubuntu sans-serif;
}

h2,h3
{
    color: #cc6600;
}


h3
{
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: #269abc;
}

a:hover
{
    text-decoration: underline;
}