/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2015, 12:27:16 PM
    Author     : Shuvojit Saha Shuvo
*/

footer {
    width: auto;
    height: 100px;
    margin: 0px;
    position: relative;
    border-radius: 0px 0px 5px 5px;
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8), color-stop(0%, #828c95), color-stop(100%, #28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0); /* IE6-9 */
}

#socialMediaNav {

    width: 213px;
    height: 50px;
    background: transparent;
    margin: 0px;
    padding: 0px;
    margin-left: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: absolute;

}

#socialMediaNav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
}

#socialMediaNav > ul > li {
    float: left;
    margin: 0px;
    padding: 0px;
}

#socialMediaNav ul li a {
    width: 60px;
    height: 50px;
    margin: 0px;
    padding: 0px;

}

#socialMediaNav ul li a:hover {
    background: transparent;
}

#socialMediaNav ul li a:hover img {

    width: 48px;
    height: 48px;
    margin: 0px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#infoNav {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 20px;
    background: transparent;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 25px;
    position: absolute;
}

#infoNav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#infoNav ul li {
    margin: 0px;
    padding: 0px;
    float: left;
}

#infoNav ul li a {
    width: 80px;
    height: 20px;
    font-size: medium;
    margin: 0px;
    padding: 0px;
    color: #fff;
}

#infoNav ul li a:hover {
    margin: 0px;
    padding: 0px;
    background: transparent;
    color: #cc6600;
    text-decoration: underline;
}

footer p {
    position: absolute;
    margin: 0px;
    padding: 0px;
    margin-top: 75px;
    margin-left: 420px;
    margin-right: 420px;
    color: #4c9cb2;
    font-weight: bold;
}

#infoNav ul li a:hover b {
    text-decoration: none;
    color: #fff;
}

