/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2015, 9:42:57 AM
    Author     : Shuvojit Saha Shuvo
*/

#topBar {
    width: auto;
    height: 20px;
    border-radius: 5px 5px 0px 0px;
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8), color-stop(0%, #828c95), color-stop(100%, #28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 0%, #28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0); /* IE6-9 */
}

header {
    width: auto;
    height: 100px;
    background: rgb(181, 189, 200); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 0%, rgba(40, 52, 59, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(181, 189, 200, 1)), color-stop(0%, rgba(130, 140, 149, 1)), color-stop(100%, rgba(40, 52, 59, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 0%, rgba(40, 52, 59, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 0%, rgba(40, 52, 59, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 0%, rgba(40, 52, 59, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(181, 189, 200, 1) 0%, rgba(130, 140, 149, 1) 0%, rgba(40, 52, 59, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0); /* IE6-9 */
    -webkit-box-shadow: 0 4px 4px -2px #000000;
    -moz-box-shadow: 0 4px 4px -2px #000000;
    box-shadow: 0 4px 4px -2px #000000;
    margin: 0px;
    padding: 0px;

}

#logoDiv {
    width: 160px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    /*    background: white;*/
    padding-bottom: 10px;
    float: left;
}

#logInBarDiv p {

    margin: auto;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #fff;

}

#signIn, #signUp {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

#signUp:hover, #signIn:hover {
    text-decoration: underline #fff;

}