/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 4:31:06 AM
    Author     : Shuvojit Saha Shuvo
*/


nav{
    width: auto;
    height: 40px;
    background: transparent;
    position: absolute;
    padding: 0px;
    margin-top: 45px;
    margin-left: 150px;
}

nav ul 
{
    list-style: none;
    line-height: 40px;

}

nav>ul>li{
    float: left;
    margin: 0px;
    padding: 0px;

}

nav ul li a{
    display: block;
    width: 100px;
    height: 40px;
    margin-right: 20px;
    text-decoration: none;
    color: #cc6600;
    font-size: large;
    text-align: center;
    text-decoration: none;

}

nav ul li a:hover
{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+19,0e0e0e+100 */
    background: rgb(216,224,222); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(216,224,222,1) 0%, rgba(174,191,188,1) 19%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(216,224,222,1)), color-stop(19%,rgba(174,191,188,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 19%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 19%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 19%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(216,224,222,1) 0%,rgba(174,191,188,1) 19%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-decoration: none;
    border-radius: 2px 2px 2px 2px;
}

nav ul ul
{
    position: absolute;
    list-style: none;
    top: 56px;
    z-index: 9999;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
}



nav ul li:hover ul
{
    visibility: visible;
    margin: 0px;
    padding: 0px;
    margin-left: -10px;

}

nav ul li:hover ul li{

    margin: 0px;
    padding: 0px;

}

nav ul li:hover ul li a 
{
    color: blueviolet;
    text-shadow: 1px 1px 1px #000;
    width: 120px;
    height: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(40%,rgba(223,229,215,1)), color-stop(100%,rgba(179,190,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
}





nav ul li:hover ul li a:hover
{
    color: white;
    text-decoration: none;
}

#clearFloat
{
    clear: both;
    margin: 0;
    padding: 0;
}