#paginationDiv {
    margin: 0px;
    padding: 0px;
    width: auto;
    background: #ffffff;
    padding: 20px;
}

#paginationDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-bottom: 20px;

}

#paginationDiv ul li{
    margin: 0px;
    padding: 0px;
    float: left;
}

#paginationDiv ul li a{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    border: none;
    background: #d58512;
    text-align: center;
    color: #131313;
    border-radius: 3px;
    margin-right: 5px;
}

