#searchDiv {
    position: absolute;
    width: 470px;
    height: 35px;
    background: transparent;
    margin-left: 200px;
    margin-top: 8px;
}

#searchDiv > form {
    margin: 0px;
    padding: 0px;
    margin-left: 70px;
}

#searchDiv input {
    margin: 0px;
    padding: 5px;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 2px 0px 0px 2px;
    font-size: 15px;
    color: #101010;
    font-weight: bold;
    background: #f5f5f5;
}

#searchDiv select {
    margin: 0px;
    padding: 0px;
    height: 30px;
    color: #8a6d3b;
    font-weight: bolder;
    font-size: 15px;
    background: #f5f5f5;
    overflow: hidden;
    border: none;
    margin-left: 1px;
}

#searchDiv select option{
    border: none;
}