/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2015, 8:42:00 PM
    Author     : Shuvojit Saha Shuvo
*/

html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#wrapper {
    width: auto;
    height: auto;
    margin: auto;
    background: transparent;
    margin-left: 160px;
    margin-right: 160px;
    width: 1008px;
}

article {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    min-height: 200px;
}

