/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 25, 2015, 9:39:43 AM
    Author     : Shuvojit Saha Shuvo
*/



#logInDiv
{
    width: 450px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    margin-left: 275px;
    margin-right: 275px;
    border-radius: 5px 5px 5px 5px;
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(206,220,231,1) 2%, rgba(89,106,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(2%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(206,220,231,1) 2%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(206,220,231,1) 2%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(206,220,231,1) 2%,rgba(89,106,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(206,220,231,1) 2%,rgba(89,106,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}

#leftHr{
    width: 150px;
    position: absolute;
    margin-top: 22px;
    margin-left: 20px;
    border: 1px chocolate solid;
}

#rightHr
{
    width: 150px;
    position: absolute;
    margin-top:  -50px;
    margin-left: 280px;
    margin-right: 20px;
    border: 1px chocolate solid;
}

#logInTitleDiv
{
    text-align: center;
    color: chocolate;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}

#userInput input
{
    margin-left: 100px;
    margin-right: 100px;
    width: 250px;
    height: 30px;
    font-size: medium;
    border-radius: 2px 2px 2px 2px;
    border: 0px;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 2px 0px #828c95;
    font-family: 'Roboto Condensed', sans-serif;

}

#userInteractionDiv
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}

#userInteractionDiv p a, #userInteractionDiv p{
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

#userInteractionDiv p a:hover
{
    text-decoration-line: underline;
}





 