#userLogInInfoDiv {
    width: 400px;
    height: 40px;
    float: right;
    margin: 0px;
    padding: 0px;
}

#userLogInInfoDiv p {
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    text-align: right;
    padding: 10px 0px;
    margin-right: 90px;
    font-size: larger;
}

#userLogInInfoDiv ul {
    position: absolute;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 320px;
    margin-top: -30px;
}

#userLogInInfoDiv ul li {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#userLogInInfoDiv ul li a {
    display: block;
    width: auto;
    height: auto;

}

#userIcon {
    width: 24px;
    height: 24px;
}

#userLogInInfoDiv ul ul {
    position: absolute;
    list-style: none;
    z-index: 99999;
    visibility: hidden;
    margin: 0px;
    padding: 0px;

}

#userLogInInfoDiv ul li:hover ul {

    visibility: visible;
    margin: 0px;
    padding: 0px;
    margin-left: -50px;

}

#userLogInInfoDiv ul li:hover ul li {

    margin: 0px;
    padding: 0px;

}

#userLogInInfoDiv ul li:hover ul li a {
    color: #222222;
    width: 120px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    font-size: larger;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+17,3f4c6b+59 */
    background: rgb(96, 108, 136); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(96, 108, 136, 1) 17%, rgba(63, 76, 107, 1) 59%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, rgba(96, 108, 136, 1)), color-stop(59%, rgba(63, 76, 107, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(96, 108, 136, 1) 17%, rgba(63, 76, 107, 1) 59%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(96, 108, 136, 1) 17%, rgba(63, 76, 107, 1) 59%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(96, 108, 136, 1) 17%, rgba(63, 76, 107, 1) 59%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(96, 108, 136, 1) 17%, rgba(63, 76, 107, 1) 59%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=0); /* IE6-9 */
    /*border-top: 0.5px solid #FFFFFF;*/
    color: #ffffff;
    border-radius: 2px;
}

#userLogInInfoDiv ul li:hover ul li a:hover {
    color: #269abc;
}
