#containerDiv {
    width: auto;
    height: 980px;
    background: #ffffff;
    margin-top: 1px;
}

#containerDiv .left {
    width: 648px;
    float: left;
    display: inline-block;
}

#containerDiv .right {
    width: 360px;
    float: left;
    display: inline-block;
}

#boxOfficeDiv {
    padding: 10px 10px;
}

#boxOfficeDiv h1 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #66512c;
}

#boxOfficeDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#boxOfficeDiv ul li {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    background: #E6E6E6;
}

#movieInfoRow {
    margin: 0px;
    padding: 0px;

}

#movieInfoRow > td > div > img {
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 70px;
    float: left;
    display: inline-block;
}

#movieInfoRow > td > div > span > p {
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    padding: 20px 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#movieInfoRow > td > div > span > p > a{
    text-decoration: none;
    color: #269abc;
    font-weight: bolder;

}

#movieInfoRow > td > div > span > p > a:hover
{
    text-decoration: underline solid #ffffff;
}

#movieInfoRow > td > p {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#label td p {
    color: #28343b;
    font-size: 20px;
    font-weight: bold;
}

