
#feedBackDiv {
    background: #ffffff;
    margin: 0px;
    padding: 50px;
    margin-top: 1px;
}

#formDiv {
    margin: 0px;
    padding: 0px;
    border: 2px solid #bababa;
    border-radius: 10px;
    margin-top: 20px;
}

#formDiv h1 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    color: #23527c;
    padding: 10px 0px;
    border-bottom: 1px #BE5C00 solid;
    margin: 0px 10px;
}

form {
    margin: 0px;
    padding: 50px;
}

form label {
    float: left;
    margin: auto;
    padding: 0px;
    font-size: 25px;
    color: #d9534f;
    font-weight: bold;
    font-family: FontAwesome;
    padding-top: 2px;

}

#writeReviewLebel {
    position: absolute;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    float: none;
}

textarea {
    margin-top: 80px;
    margin-left: 50px;
    border: 1px #269abc solid;
    font-size: 15px;
    color: #0000C2;
    font-family: 'Roboto Condensed', sans-serif;
}
