#movieInfoDiv {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    background: #ffffff;
    padding: 50px;
    margin-top: 1px;
}

#movieInfoDiv {
    clear: both;
    content: "";
    display: block;
}

#movieBasicInfoDiv {
    width: auto;
    height: 350px;
    border: 1px solid #828c95;
    border-radius: 0px 10px 10px 0px;
    background: #333333;

}

#movieBasicInfoDiv img {
    width: 200px;
    height: 350px;
    margin: 0px;
    padding: 0px;
}

#movieInfo {
    width: 705px;
    height: 350px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    float: right;
}

#movieName {
    margin: 0px;
    padding: 0px;
    color: #286090;
    font-size: 35px;
    margin-left: 70px;
    margin-top: 5px;
    font-family: Ubuntu;
}

#movieGenre {
    margin: 0px;
    padding: 0px;
    margin-left: 70px;
    color: #828c95;
    font-size: x-large;
}

#movieRate {
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 400px;
    margin-top: -30px;
    font-size: x-large;
    color: #d58512;
    font-weight: bold;
}

#movieInfo img {
    width: 35px;
    height: 35px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-left: 320px;
    margin-top: -35px;
}

#rate {
    margin: 0px;
    padding: 0px;
    font-size: x-large;
    color: #a94442;
    font-weight: bold;
    position: absolute;
    margin-top: -30px;
    margin-left: 370px;
}

#userNumber {
    margin: 0px;
    padding: 0px;
    font-size: larger;
    color: #ffffff;
    margin-left: 410px;
    margin-top: -30px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #880000;
    position: absolute;
    margin-top: -25px;
    margin-left: 550px;
    background: #8a6d3b;
    padding: 2px;
    border-radius: 2px;
    animation-duration: 600ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#reviewsDiv a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #880000;
    background: #8a6d3b;
    padding: 2px;
    border-radius: 2px;

}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

hr {

    height: 1px;
    margin-left: 70px;
    border-color: #a94442;
}

#movieViewInfo {
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 75px;
    font-size: 20px;
    color: #ffffff;
}

#movieViewInfo b {
    font-weight: normal;
}

#summary {
    margin: 0px;
    padding: 0px;
    margin-left: 70px;
    font-size: x-large;
    color: #ffffff;
    margin-bottom: 50px;
}

#watchlist, #watchTrailer, #writeReview {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    margin-left: 70px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background: #d58512;
    width: 150px;
    text-align: center;
    color: #131313;
    border-radius: 3px;


}

#watchTrailer {
    margin-left: 20px;
}

#writeReview {
    margin-left: 20px;
}

#movieInfoDiv .left {
    width: 590px;
    float: left;
    display: inline-block;
}

#movieInfoDiv .right {
    float: left;
    display: inline-block;
    margin-left: 15px;
    margin-top: 18px;

}

#episodesDiv, #directorInfoDiv, #actorsInfoDiv, #storyLineDiv, #boxOfficeDiv, #awardsDiv {
    margin: 0px;
    padding: 0px;
    width: 590px;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    margin-top: 18px;

}

#episodesDiv h1, #directorInfoDiv h1, #actorsInfoDiv h1,
#storyLineDiv h1, #boxOfficeDiv h1, #awardsDiv h1 {
    margin: 0px;
    padding: 0px;
    margin-left: 50px;
    color: #d58512;
    font-size: 30px;
}

#profileInfoList {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 10px;
}

#profileInfoList li {
    width: 570px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    background: #666666;
    margin-left: 10px;
    margin-bottom: 5px;

}

#profileInfoList li img {
    width: 40px;
    height: 50px;
    float: left;

}

#profileName, #awardName {
    margin: 0px;
    padding: 0px;
    float: none;
    color: #0000C2;
    text-decoration: none;
    text-align: justify;
    margin-top: 10px;
}

#profileName {
    float: left;
    margin-left: 2px;
}

#profileName:hover {
    text-decoration: underline solid #ffffff;
}

#dot {
    margin: 0px;
    padding: 0px;
    float: left;
    margin-left: 250px;
    margin-top: -20px;
}

#role {
    margin: 0px;
    padding: 0px;
    float: left;
    color: #2ca02c;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
}

#storyLine {
    margin: 0px;
    padding: 10px;
    text-align: justify;
}

#budgetLabel, #openingWeekendLabel, #grossLabel {
    margin: 0px;
    padding: 0px;
    color: #5e5e5e;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 20px;
}

#budget, #openingWeekend, #gross {
    margin: 0px;
    padding: 0px;
    float: left;
    margin-top: -22px;
    margin-left: 220px;
    font-size: 20px;
    color: #101010;
}

#openingWeekend {
    margin-right: 250px;
}

#dot1 {
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: -20px;
    margin-right: 280px;
}

#awardCategory {
    margin-left: 380px;
    margin-top: -22px;
    color: #2ca02c;
    font-weight: bold;
    float: left;
}

#reviewsDiv {
    width: 300px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #8a6d3b;
    border-radius: 10px;
    padding-bottom: 5px;
}

#reviewsDiv h1 {
    margin: 0px;
    padding: 0px;
    background: #337ab7;
    color: #222222;
    margin: 0px 5px;
    font-size: 30px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#reviewsDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#reviewsDiv ul li {
    margin: 0px;
    padding: 0px;
    padding: 0px 5px;
    margin-bottom: 10px;
}

#userName {
    background: #5e5e5e;
    color: #2ca02c;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    padding: 5px 0px;
}

#review {
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #8a6d3b;
    padding-bottom: 5px;
}

#boxOfficeDiv {
    padding-bottom: 5px;
}

#awardList {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

#awardList li {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    background: #5e5e5e;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;

}

#awardName {
    float: none;
}

#dot1 {
    margin-left: 50px;
}
