#content {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;
}

h1 {
    color: #ffffff;
    font-size: xx-large;
    padding-left: 20px;
}

#videoFrameDiv {
    width: auto;
    height: 380px;
    margin: 0px;
    padding: 0px;
    background: #262626;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;

}

h1 {
    color: #00bfff;
    font-size: xx-large;
    margin: 0px;
    padding: 0px;

}

#videoPlayer {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    position: absolute;

}

#videoFrameDiv > div {
    width: 330px;
    height: 320px;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;

}

#videoFrameDiv > div > h3 {

    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: x-large;
    color: chocolate;
}

#videoFrameDiv > div > h4 {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    font-size: larger;
    color: mediumspringgreen;
}

#videoFrameDiv > div > p {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    color: #333333;
}

#videoFrameDiv > div > h4, #videoFrameDiv > div > h3 {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#latestTrailerDiv {
    width: auto;
    height: 300px;
    background: #262626;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
}

#latestTrailerDiv h2 a {
    text-decoration: none;
    color: #00bfff;
    font-size: 30px;
    margin: 0px;
    margin-left: 10px;

}

#latestTrailerDiv h2 a:hover, #popularTrailersDiv h2 a:hover {
    color: #cc6600;
}

#latestTrailerDiv > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    margin-top: -15px;

}

#latestTrailerDiv > ul > li, #popularTrailersDiv > ul > li {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;

}

#latestTrailerDiv > ul > li > a, #popularTrailersDiv > ul > li > a {
    display: block;
    margin: 0px;
    padding: 0px;
    width: 144px;
    height: 200px;
    margin-right: 10px;

}

#latestTrailerDiv > ul > li > a > img, #popularTrailersDiv > ul > li > a > img {

    margin: 0px;
    padding: 0px;
    width: 144px;
    height: 200px;

}

#playButton > img {
    top: 70px;
    margin-left: 40px;
    position: absolute;
    visibility: visible;

}

#latestTrailerDiv > ul > li:hover > a:hover > img, #popularTrailersDiv > ul > li:hover > a:hover > img {
    border: 2px #ffffff solid;;
}

#latestTrailerDiv > ul > li:hover > #playButton:hover > img, #popularTrailersDiv > ul > li:hover > #playButton:hover > img {
    border: none;
}

#popularTrailersDiv {
    width: auto;
    height: 300px;
    margin: 0px;
    padding: 0px;
    background: #262626;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;

}

#popularTrailersDiv > h1 > a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #00bfff;
    font-size: 30px;
    float: left;
    margin-top: -140px;
    margin-left: 20px;
}

#popularTrailersDiv h1 a:hover {
    color: #cc6600;
}

#popularTrailersDiv > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    margin-top: 60px;
    position: absolute;

}




