#content {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;
}

h1 {
    font-size: xx-large;
    color: #269abc;
    font-family: Ubuntu sans-serif;
}

#movieListDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#movieListDiv li {
    height: auto;
    margin: 0px;
    padding: 0px;
    background: #262626;
    padding: 0px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#movieListDiv img {
    width: 112px;
    height: 112px;
    margin: 0px;
    padding: 0px;
    margin-top: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#movieInfoDiv {
    width: 300px;
    height: auto;
    position: relative;
    float: right;
    margin-right: 500px;
}

#movieNameInfoDiv {
    width: 700px;
    margin-top: 5px;
}

#movieRateInfoDiv {
    width: 500px;
    margin-top: 5px;
    padding: 1px;
}

#movieNameLabel, #movieRateLabel, #movieReviewLabel {
    font-size: larger;
    margin: 0px;
    padding: 0px;
    color: #8a6d3b;
    font-weight: bold;
    margin-right: 10px;
}

#movieName, #movieRate, #movieRelease {
    text-decoration: none;
    font-size: larger;
    margin: 0px;
    padding: 0px;
    color: #337ab7;
    font-weight: bold;
    margin-right: 20px;

}

#movieRate, #movieRelease {
    margin-left: 80px;
    margin-top: -20px;
}

#movieRate img {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

#movieName:hover {
    text-decoration: #ffffff underline;

}

#summaryDiv {
    width: 760px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
}

#summaryDiv p {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    text-align: justify;
}

#button {
    display: block;
    width: 200px;
    height: 25px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 2px;
    color: white;
    margin-left: 80px;
    margin-top: -25px;
    text-decoration: none;
}

#button:hover {
    color: #8a6d3b;
}