#profileInfoDiv {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 1px;
    padding: 50px;
    background: #ffffff;

}

#profileBasicInfoDiv {
    width: auto;
    height: 350px;
    border: 1px solid #828c95;
    border-radius: 0px 10px 10px 0px;
    background: #222222;
}

#profileBasicInfoDiv img {
    width: 200px;
    height: 350px;
    margin: 0px;
    padding: 0px;
}

#profileInfo {
    width: 635px;
    height: 350px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    float: right;
    margin-left: 70px;
}

#profileName {
    margin: 0px;
    padding: 0px;
    color: #398439;
    font-size: 35px;
    margin-top: 5px;
    font-family: Ubuntu;
}

#professionName {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    margin-top: 5px;
}

#profileInfo hr {
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    border-bottom: 0.2px solid #BE5C00;
}

#label {
    margin: 0px;
    padding: 0px;
    color: #d9534f;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

#birthName, #dateOfBirth, #birthPlace, #height {
    margin: 0px;
    padding: 0px;
    position: absolute;
    margin-top: -32px;
    margin-left: 150px;
    font-size: 20px;
    color: #286090;
    margin-bottom: 10px;
}

/*#dateOfBirth {
    margin-right: 415px;
}*/

#birthPlace {
    margin-right: 300px;
}

#height {
    margin-right: 410px;
}

#bioDiv, #knownForDiv, #filmographyDiv, #awardsDiv {
    margin: 0px;
    padding: 0px;
    border: 1px solid #828c95;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}

#knownForDiv {
    height: 300px;
    background: #222222;
}

#bioDiv h1, #knownForDiv h1, #filmographyDiv h1, #awardsDiv h1 {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    color: #BE5C00;
}

#bioDiv p {
    text-align: justify;
}

#knownForDiv ul, #filmographyDiv ul, #awardsDiv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
}

#knownForDiv ul li {
    margin: 0px;
    padding: 0px;
    float: left;
}

#knownForDiv ul li a {
    display: block;
    width: 144px;
    height: 250px;
    margin: 0px;
    padding: 0px;
}

#knownForDiv ul li a img {
    width: 140px;
    height: 250px;
    margin: 0px;
    padding: 0px;
}

#knownForDiv ul li a:hover img {
    border: 1px solid #d9534f;
}

#filmographyDiv ul li, #awardsDiv ul li {
    margin: 0px;
    padding: 0px;
    background: #bababa;
    padding: 0px 10px;
    margin-bottom: 5px;
}

#awardsDiv ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#movieName, #awardName {
    margin: 0px;
    padding: 0px;
    float: none;
    color: #0000C2;
    text-decoration: none;
    text-align: justify;
    margin-top: 10px;
}

#movieName:hover {
    text-decoration: solid #269abc;
}

#role {
    margin: 0px;
    padding: 0px;
    color: #269abc;
    font-size: 15px;
}

#releaseYear {
    margin: 0px;
    padding: 0px;
    float: right;
    margin-top: -30px;
    font-size: 20px;
    font-weight: bold;
}

#dot {
    margin: 0px;
    padding: 0px;
    float: left;
    margin-left: 400px;
    margin-top: -20px;
}

#awardCategory {
    margin-left: 480px;
    margin-top: -22px;
    color: #2ca02c;
    font-weight: bold;
    float: left;
}










