#containerDiv {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    width: auto;
    height: auto;
    min-height: 150px;
    padding: 30px 50px;
    margin-top: 1px;
}

#theaterFinderDiv {
    margin-top: 20px;
}

#cityName {
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 25px;
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: 1px #66512c solid;
    border-radius: 3px;
}

select {
    font-family: "Georgia";
    font-size: 25px;
    border: 1px #66512c solid;
    border-radius: 3px;
    margin-left: 5px;
}

#submitBtn {
    margin: 0px;
    padding: 0px;
    background: #8a6d3b;
    font-size: 20px;
    height: 35px;
    border: 1px solid #8a6d3b;
    border-radius: 3px;
    margin-left: 5px;
}