h1 {
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    color: #333333;
    padding: 20px 0px;
}

#theatersList {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#theatersList > li {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 90px;
    padding: 10px;
    background: #262626;
    border-radius: 10px;
    margin-bottom: 10px;
}

#theatersList > li > img {
    margin: 0px;
    padding: 0px;
    width: 112px;
    height: 90px;
    float: left;
    display: inline-block;
}

#theaterInfoDiv {
    width: 820px;
    height: auto;
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline-block;
    margin-left: 10px;
}

#theaterInfoDiv span {
    margin: 0px;
    margin: 0px;
    font-size: 18px;
}

#theaterInfoDiv span label {
    margin: 0px;
    margin: 0px;
    color: #5cb85c;
    margin-bottom: 5px;
}

#theaterInfoDiv span a {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #8a6d3b;
    font-weight: bolder;
}

#theaterInfoDiv span a:hover {
    text-decoration: solid #ffffff underline;
}

#theaterInfoDiv span b {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: #00bfff;
}

.button {
    display: block;
    width: 150px;
    height: 16px;
    background: #4E9CAF;
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
}

.button:hover {
    color: #8a6d3b;
}