#movieReviewListDiv > ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#reviewInfoDiv {
    min-height: 112px;
    width: auto;
    margin: 0px;
    padding: 0px;
    background: #262626;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#left, #right
{
    float: left;
}

#left img {
    width: 112px;
    height: 112px;
    margin: 0px;
    padding: 0px;
}

#right
{
    margin: 0px;
    padding: 0px;
    width: 805px;
    height: auto;
    margin-left: 10px;
}


