#openingThisWeekDiv, #comingSoonDiv
{
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
}

#openingThisWeekDiv h2, #comingSoonDiv h2
{
    text-align: left;
    margin: 0px;
    margin-left: 40px;

}
#openingThisWeekDiv h2 a, #comingSoonDiv h2 a
{
    text-decoration: none;
    color: cadetblue;
}

#openingThisWeekMovieList, #comingSoonMovieList
{
    position: relative;
    margin-top: 20px;
    list-style-type: none;
}

#openingThisWeekMovieList li, #comingSoonMovieList li
{
    padding-top: 10px;
    padding-bottom: 5px;
}

#openingThisWeekMovieList li table tr td img,#comingSoonMovieList li table tr td img
{
    width: 48px;
    height: 48px;
    margin: 0px;
    padding: 0px;
}

#openingThisWeekMovieList li table tr td a, #comingSoonMovieList li table tr td a {
    padding-left: 5px;
    color:  #000000;;
    font-size: 20px;
    text-decoration: none;
    color: #449d44;
}

#openingThisWeekMovieList li table tr td a:hover, #comingSoonMovieList li table tr td a:hover {
    text-decoration: underline solid #269abc;
}

#openingThisWeekMovieList p, #comingSoonMovieList p
{
    margin-top: 10px;
}

#openingThisWeekMovieList p a, #comingSoonMovieList p a{
    text-decoration: none;
    color:  cadetblue;
    font-size: large;
}

#openingThisWeekMovieList hr
{
    width: auto;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: 20px;
    border-top: 1px #cc6600 solid;

}

#comingSoonMovieList hr
{
    visibility: hidden;
}


